{{ template "base" }}
<div class="container-fluid p-0">
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h2 class="mt-5">
                Admin page
            </h2>
            <a class="button" href="/logout">Logout</a>
            <hr>
            <h3 class="lead">
                Create new post
            </h3>
            <form action="" method="post">
                <input placeholder="Title" size="80" name="post_title"></input><br>
                <textarea placeholder="Post content" rows="5" cols="80" name="post_content"></textarea>
                <button class="nav-link mt-5">Create post</button>
            </form>
        </div>
    </section>
</div>
