{{ define "blog_navigation" }}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="topNav">
    <div class="navbar-brand">
        <span class="d-block d-lg-none">Tatwritesblog</span>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <span class="d-block navbar-brand">Tatwritesblog</span>
    </div>
    <a class="navbar-brand nav-link" id="portfolio-link" href="/">Portfolio</a>
</nav>
{{ end }}