{{ template "blog_base" }}
{{ template "blog_navigation" }}
{{ template "entries_navigation" . }}
<div class="container-fluid p-0">
    <section class="resume-section">
        <div class="resume-section-content">
            {{ range .posts }}
            <!--<h5 class="lead mb-0">tags_A, tags_B, tags_C, tags_D</h5>-->
            <h2 class="mt-0">{{ .Title }}</h3>
            <h4 class="lead mb-2">
                {{ .Datetime }}
            </h4>
            <div>
                {{ renderAsHTML .Content }}
            </div>
            <hr/>
            {{ end }}
        </div>
    </section>
</div>