{{ template "base" }}
{{ template "navigation" }}
<div class="container-fluid p-0">
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Associate Software Developer</h3>
                    <div class="subheading mb-3">S&P Global</div>
                    <ul id="exp-list">
                        <li>Contributor in Delivery team providing features, enhancements, defect fixes with comprehensive test suites using <b>Jmockit</b> and <b>Mockito</b> for existing <b>Spring Boot</b> Application</li>
                        <li>Architected, designed and implemented a decoupled <b>serverless</b> service as an individual contributor in <b>Python</b> to facilitate trade forwarding deployed in AWS. Technologies involved includes <b>Lambda</b>, <b>S3</b>, <b>SQS</b> and <b>Terraform</b></li> 
                        <li>Implemented scripts and automations for internal operations in <b>Bash</b>, <b>Python</b> and <b>Golang</b> for development and support use cases. Some examples include implementation of a user creation script for trade reporting platform, <b>reducing time cost by 75%</b>, and automation for generating test cases, allowing up to <b>50% time saved in development</b></li>
                        <li>Architected, designed and built a standalone <b>Spring Boot</b> application independently to perform Extract, Transform, Load (ETL) across multiple financial instruments. Infrastructure and application components includes <b>AWS EC2</b>, <b>S3</b> and <b>RDS</b> built with <b>Terraform</b> and <b>GitLab CI</b> for fully automated deployments.</li>
                        <li>Provided <b>time-critical root cause analysis</b>, <b>in-depth troubleshooting</b> and resolution for existing Trade Reporting Platform as part of <b>Level 2/3 Support team</b>. Handled numerous P1/P2 incidents, resolving issues reported by Level 1 Team and clients in accordance with trade reporting deadlines.</li>
                        <li>Performed deep analysis and implemented solution on performance degradation due to memory leak in Spring Boot application, <b>reducing operational time cost from 8 hours to 15 minutes</b></li>
                        <li>Created and enhanced existing AWS infrastructure using <b>Terraform</b> and <b>GitLab CI</b> and transitioning of manually created resources to state-controlled resources with <b>Terraform</b></li>
                        <li>Developed and enhanced <b>GitLab CI</b> pipelines to streamline delivery and deployments processes, including codebase onboarding to static code analytical tools such as <b>Mend</b> and <b>SonarQube</b></li>
                        <li>Authoring <b>technical designs</b> and <b>documentations</b> for day 0 and day 2 operations for new and existing services</li>
                        <li>Participated in <b>Agile</b> development cycles, acting as <b>Scrum Master</b> for development sprints on a rotational basis</li>
                        <li>Executed and planned major migrations and exercises for clients with high data loads (<b>over 80 million records</b>).</li>
                    </ul>
                    <p></p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">June 2021 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Client Services Representative</h3>
                    <div class="subheading mb-3">Autodesk Pte Ltd</div>
                    <ul id="exp-list">
                        <li>Utilized existing CRM and ERP platforms to provide support and order taking for B2B and B2C clients</li>
                        <li>Provided troubleshooting and issue resolution for clients through investigative work</li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">November 2018 - October 2019</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Customer Support Team Lead</h3>
                    <div class="subheading mb-3">Pole to Win Singapore Pte Ltd</div>
                    <ul id="exp-list">
                        <li>Spearheaded a small team of agents in daily operations. Liased with Japanese clients for project objectives and targets</li>
                        <li>Provided translations from English/Chinese to Japanese and vice versa</li>
                        <li>Removed human error and reduced time taken for operations by over 80% with a Python script for data manipulation.</li>
                        <li>Improved existing workflow and reduced time taken by over 30% through the implementation of Google App Scripts using Javascript</li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">January 2016 - November 2018</span></div>
            </div>
        </div>
    </section>
</div>