{{ template "base" }}
{{ template "navigation" }}
<div class="container-fluid p-0">
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-5">
                Tatwrites<a class="github-link" href="https://www.github.com/ztcjoe93">code</a>
                <p class="lead mb-5">Daily struggles of a software programmer</p>
            </h1>
        </div>
    </section>
</div>