{{ template "base" }}
<div class="container-fluid p-0">
    <section class="resume-section" id="login">
        <div class="resume-section-content">
            <h1 class="mb-5">Admin Page</h1>
            <form action="" method="post">
                <input type="text" placeholder="Username" name="username" required><br>
                <input type="password" placeholder="Password" name="password" required><br>
                <button class="button mt-5">Login</button>
            </form>
        </div>
    </section>
</div>