{{ template "base" }}
{{ template "navigation" }}
<div class="container-fluid p-0">
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Skills
            </h1>
            <div class="subheading mt-5">
                Languages
            </div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><img src="assets/python.svg" height="64" width="52.81"/></li>
                <li class="list-inline-item"><img src="assets/bash.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/java.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/js.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/go.svg" height="64" width="64"/></li>
            </ul>
            <div class="subheading mt-5">
                Frameworks, Software & Services
            </div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><img src="assets/flask.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/selenium.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/flutter.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/react.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/git.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/nodejs.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/cucumber.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/mysql.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/terraform.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/gitlab.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/ansible.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/springboot.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/vim.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/aws.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/docker.svg" height="64" width="64"/></li>
            </ul>
            <div class="subheading mt-5">
                OSes
            </div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><img src="assets/winos.svg" height="64" width="64"/></li>
                <li class="list-inline-item"><img src="assets/linux.svg" height="64" width="64"/></li>
            </ul>
        </div>
    </section>
</div>