{{ template "base" }}
{{ template "navigation" }}
<div class="container-fluid p-0">
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-5">
                About me
            </h1>
            <p class="lead mb-5">
                Hey there! I'm Zheng Tat, more commonly known by my peers as ZT (pronounced as zee-tee), and I'm a translator-turned-into-software engineer who loves nerding out on technology and gaming!<br><br>
                This site serves as a micro-blog for me to pen down (or rather, type down) my struggles and inane excitement during my journey in software development, and acts as a testbed application for the various things I'd 
                like to try out but haven't had the chance to.<br><br>
                And yes, the backend is in <b>golang</b>, my latest craze.
            </p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/zhengtat/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://www.github.com/ztcjoe93/"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="mailto:zhengtat@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                <a class="social-icon" href="/resume"><i class="fa-regular fa-file"></i></a>
            </div>
        </div>
    </section>
</div>