{{ template "base" }}
{{ template "navigation" }}
<div class="container-fluid p-0">
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <div class="subheading mb-5">
                Under development
            </div>
        </div>
    </section>
</div>