{{ template "base" }}
{{ template "navigation" }}
<div class="container-fluid p-0">
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            Blog
            <div class="subheading mb-5">
                to navigate to a different UI using dynamic calls to database
            </div>
        </div>
    </section>
</div>