{{ template "blog_base" }}
{{ template "blog_navigation" }}
{{ template "entries_navigation" . }}
<div class="container-fluid p-0">
    <section class="resume-section">
        <div class="resume-section-content">
            <h2 class="mb-5">Posts</h2>
            {{ range .posts }}
            <h3 class="mt-3">{{ .Title }}</h3>
            <div class="subheading mb-2">
                {{ .Datetime }}
            </div>
            <p>
                {{ .Content }}
            </p>
            <hr/>
            {{ end }}
        </div>
    </section>
</div>