{{ template "base" }}
{{ template "navigation" }}
<div class="container-fluid p-0">
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">University of Wollongong</h3>
                    <div class="subheading mb-3 data-point">Bachelor of Science</div>
                    <div class="data-point">Computer Science - Big Data</div>
                    <span class="data-point">Distinction</span>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">January 2019 - June 2021</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Ngee Ann Polytechnic</h3>
                    <div class="subheading mb-3 data-point">Diploma in Business Studies</div>
                    <span class="data-point">GPA: 3.08</span>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">January 2010 - January 2013</span></div>
            </div>
        </div>
    </section>
</div>