{{ template "base" }}
{{ template "navigation" }}
<div class="container-fluid p-0">
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Associate Software Developer</h3>
                    <div class="subheading mb-3">S&P Global</div>
                    <ul id="exp-list">
                        <li>Delivered features, enhancements and tests on existing Spring Boot product</li>
                        <li>Built a decoupled serverless service in Python using AWS Lambda, S3 and SQS that is IaC-controlled with Terraform</li> 
                        <li>Created scripts for internal use in Shell, Python, Golang for support and developmental use. 
                        Time spent for user creation was reduced by 90% with the aid of the Shell script, 
                        and time taken to write test cases was reduced by 50% with the Python script</li>
                        <li>Designed and built a standalone service on Spring Boot that performs ETL across multiple financial asset classes.
                        Integrates with existing AWS S3 and RDS service, and is backed by IaC Terraform.</li>
                        <li>Executed and planned major migrations for clients with high data loads</li>
                        <li>Provided time-critical support, analysis and fixes for post-delivery maintenance as part of the L2/L3 support team.</li>
                        <li>Delivered performance fixes fixing memory issues and reducing total processing time by over 80%.</li>
                        <li>Enhanced and maintained existing infrastructure built on Terraform and GitLab. 
                        Transitioned non-IaC resources to IaC to streamline delivery process.</li>
                    </ul>
                    <p></p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">June 2021 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Client Services Representative</h3>
                    <div class="subheading mb-3">Autodesk Pte Ltd</div>
                    <ul id="exp-list">
                        <li>Utilized existing CRM and ERP platforms to provide support and order taking for B2B and B2C clients</li>
                        <li>Provided troubleshooting and issue resolution for clients through investigative work</li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">November 2018 - October 2019</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Customer Support Team Lead</h3>
                    <div class="subheading mb-3">Pole to Win Singapore Pte Ltd</div>
                    <ul id="exp-list">
                        <li>Spearheaded a small team of agents in daily operations. Liased with Japanese clients for project objectives and targets</li>
                        <li>Provided translations from English/Chinese to Japanese and vice versa</li>
                        <li>Removed human error and reduced time taken for operations by over 80% with a Python script for data manipulation.</li>
                        <li>Improved existing workflow and reduced time taken by over 30% through the implementation of Google App Scripts using Javascript</li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">January 2016 - November 2018</span></div>
            </div>
        </div>
    </section>
</div>