{{ template "base" }}
{{ template "navigation" }}
<div class="container-fluid p-0">
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h2 class="mb-5">
                Projects
            </h2>
            <h3 class="mb-0">Flash card mobile application</h3>
            <div class="subheading mb-3">StudyBuddy</div>
            <p class="lead mb-5 data-point">
            A flash card-based study <a href="https://play.google.com/store/apps/details?id=ztcjoe93.studybuddy">mobile application</a> 
            built with Flutter. 
            Uses a local sqlite3 for data storage, this application is built for the simple task of virtualizing flash cards (either for memory or studying purposes). <br><br>
            User are able to tag their decks and prepare cards with "front" and "back" content -- similar to how traditional flash cards work.
            Revision can done in 2 formats: manual spinning of card to reveal the back of the card, or via input validation. 
            They can then view the visualization charts for past results and deck details, which uses data dervied from the created cards/study sessions to 
            analyze where they are weak in or their performance in general.
            </p>

            <h3 class="mt-5">E-commerce automation script</h3>
            <div class="subheading mb-3"><a href="https://www.theo10.com">www.theo10.com</a></div>
            <p class="lead mb-5 data-point">
            Python script to do automation in order processing by retrieving invoice data from the e-commerce site's backend - powered by WooCommerce.
            Data was then manipulated and propagated into an XLSX format for the business owner.
            </p>
        </div>
    </section>
</div>