{{ template "base" }}
{{ template "navigation" }}
<div class="container-fluid p-0">
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Skills
            </h1>
            <div class="subheading mt-5">
                Languages
            </div>
            <p class="lead mb-5 data-point">Python, Bash, Java, Javascript, SQL, Golang</p>
            <div class="subheading mt-5">
                Frameworks, Software & Services
            </div>
            <p class="lead mb-5 data-point">Flask, Selenium, Flutter, React, Git, NodeJS, 
            Cucumber, MySQL, Terraform, GitLab, Ansible, Springboot, Vim, AWS, Docker</p>
            <div class="subheading mt-5">
                OSes
            </div>
            <p class="lead mb-5 data-point">Windows, Linux</p>
        </div>
    </section>
</div>