{{ template "base" }}
{{ template "navigation" }}
<div class="container-fluid p-0">
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0 githubLink">
                Skills
            </h1>
            <div class="subheading mb-5">
                subheading
            </div>
            <p class="lead mb-5">content</p>
        </div>
    </section>
</div>